html,
body {
    overscroll-behavior: none;
    background: black;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    touch-action: none;
}

form {
    width: 390px;
    margin: 50px auto;
    background: black;
    padding: 35px 25px;
    text-align: center;
    border-radius: 40px;
}

input[type="password"] {
    padding: 0 40px;
    border-radius: 31px;
    width: 350px;
    margin: auto;
    border: 1px solid rgb(228, 220, 220);
    outline: none;
    font-size: 60px;
    color: transparent;
    text-shadow: 0 0 0 rgb(71, 71, 71);
    text-align: center;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
}

.pinButton {
    border: none;
    background: cornflowerblue;
    box-shadow: -2px 3px 25px 5px #03a9f4;
    font-size: 1.5em;
    border-radius: 50%;
    height: 60px;
    font-weight: 550;
    width: 60px;
    color: white;
    text-shadow: 0 0 0 rgb(102, 101, 101);
    margin: 7px 20px;
}

.clear,
.enter {
    font-size: 1em !important;
}

.pinButton:hover {
    box-shadow: -2px 3px 25px 5px #a7049c;
}

.pinButton:active {
    background: #506ce8;
    color: #fff;
}

.clear:hover {
    box-shadow: #ff3c41 0 0 1px 1px;
}

.clear:active {
    background: #ff3c41;
    color: #fff;
}

.enter:hover {
    box-shadow: #47cf73 0 0 1px 1px;
}

.enter:active {
    background: #47cf73;
    color: #fff;
}

.schliessen {
    z-index: 20000;
    position: fixed;
    top: 0;
}

.zumstart {
    z-index: 20000;
    top: 0;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    position: relative;
}

input#password:disabled {
    background: white;
}