body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #444;
            background: url(/euro_slot/img/imgpsh_fullsize_anim.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .box {
            min-height: 300px;
            height:auto;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -222px;
            padding-bottom:30px;
        }

        .data {
            text-align: center;
            color: #fff;
            margin: 40px auto 0 auto;
            width: 100%;
            padding-left: 70px;
            padding-right: 70px;
        }

        .txt_box {
            color: black;
        }

        .enter {
            text-align: center;
            color: #fff;
            margin: 0px auto 0 auto;
            padding-left: 70px;
            padding-right: 70px;
            width: 100%;
            font-size: 30px
			
		}
		.center {
			margin: auto;
			padding: 10px;
			text-align: center;
			color: white;
			}
			.contactdiv {
        width: 260px;
        color:white;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
    }
			
			